<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Edit Tasks</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link type="text/css" rel="stylesheet" href="static/css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
    </head>
    <body>
    <header>Edit Task</header>
        <div>
           <form th:object="${task}" th:action="@{/savet}" action="#" method="post">	
          	<input type= "hidden" th:field="*{id}" class="form-control"/>
           	<input type= "text" id = "taskname" th:field="*{taskname}"/>
           	<input type= "text" id = "assigndate" th:field="*{assigndate}"/>          
           	<input type= "text" id = "donedate" th:field="*{donedate}"/>           	
           	<input type= "text" id = "priority" th:field="*{priority}"/>              	           	
           	<div style="clear: both; display: block; height: 10px;"></div>
           	<label for="plist">Person</label>
			 <select id="plist" th:field="*{person}" class="form-control">
       			<option th:each="person: ${persons}" th:value="${person.id}" th:text="${person.firstName}"></option>
    		</select>
			<input type= "text" id = "status" th:field="*{status}"/>
			<div style="clear: both; display: block; height: 10px;"></div>
           	
          	<input type="submit" class="btn btn-success" value="Save"></input>
           </form>
        </div>
    </body>
</html>